<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>IT</td><td>TestNGAnnotations.Three()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@318ba8c8]<br/>TestNGAnnotations.One()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@318ba8c8]<br/></td></tr>
</table>
