<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>IT</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d816d">  <td>20/07/04 18:57:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.One()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@318ba8c8]">One</td> 
  <td>main@1989184704</td>   <td></td> </tr>
<tr bgcolor="6d816d">  <td>20/07/04 18:57:35</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.Three()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@318ba8c8]">Three</td> 
  <td>main@1989184704</td>   <td></td> </tr>
<tr bgcolor="6d816d">  <td>20/07/04 18:57:35</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.Two()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@318ba8c8]">Two</td> 
  <td>main@1989184704</td>   <td></td> </tr>
</table>
