<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a679c">  <td>20/07/30 18:32:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.Sum(int, int)[pri:3, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@67784306]">Sum</td> 
  <td>main@1511785794</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/07/30 18:32:35</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.Three()[pri:1, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@67784306]">Three</td> 
  <td>main@1511785794</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/07/30 18:32:35</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotations.Two()[pri:0, instance:ToolsQA.DemoMavenEclipseProject.TestNGAnnotations@67784306]">Two</td> 
  <td>main@1511785794</td>   <td></td> </tr>
</table>
